.dot {
  border: solid #39007a 1px !important;
}

.dot.selected {
  background: #39007a !important;
}

.control-dots {
  position: relative !important;
}

.carousel {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
