@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reactModal.css';

$bgColor: white;
$sm: 640px;
$md: 740px;
$lg: 1024px;
$xl: 1280px;

@layer base {
  html,
  body {
    @apply font-medium text-black;
    background-color: $bgColor;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full p-4;
  }

  @screen sm {
    .container {
      max-width: $sm;
    }
  }

  @screen md {
    .container {
      max-width: $md;
    }
  }

  @screen lg {
    .container {
      max-width: $lg;
    }
  }

  @screen xl {
    .container {
      max-width: $xl;
    }
  }
}

@layer utilities {
}
