@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reactModal.css';
@import 'react-responsive-carousel/lib/styles/carousel.css';
@import './carousel.scss';

@layer base {
  html,
  body {
    @apply font-medium text-black;
    background-color: 'white';
  }
}

@layer components {
  .container {
    @apply mx-auto w-full p-4;
  }

  @screen sm {
    .container {
      max-width: 640px;
    }
  }

  @screen md {
    .container {
      max-width: 740px;
    }
  }

  @screen lg {
    .container {
      max-width: 1024px;
    }
  }

  @screen 2xl {
    .container {
      max-width: 1280px;
    }
  }
}

@layer utilities {
  .dot {
    border: solid 1px #cc0000 !important;
  }
}
